{% block cesta %}
<meta name="csrf-token" content="{{ csrf_token }}">
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cesta = document.getElementById('cesta');
        fetch('/obtener_cesta/', { method: 'GET' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            cesta.innerHTML = data.html;

                            // al estar incrustada la cesta, debemos añadir manualmente el csrf
                            const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                            const cestaForms = cesta.querySelectorAll('.cart-form');
                            cestaForms.forEach(form => {
                                const csrfInput = document.createElement('input');
                                csrfInput.type = 'hidden';
                                csrfInput.name = 'csrfmiddlewaretoken';
                                csrfInput.value = csrfToken;
                                form.appendChild(csrfInput);
                            });
                        } else {
                            alert('Failed to fetch cart content.');
                        }
                    })
                    .catch(error => {
                        console.error('Error fetching cart:', error);
                        alert('Failed to fetch cart.');
                    });
        });
</script>
<div id="cesta">
{% if cesta.items %}
<div class="cart-container">
    <h1 class="cart-title">Cesta de la Compra</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto_id, item in cesta.items %}
            <tr>
                {% load custom_filters %}
                <td><img src="{{ item.foto }}" alt="{{ item.nombre }}" class="cart-image"></td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.cantidad }} unidades</td>
                <td>
                    <a href="{% url 'eliminar_de_cesta' producto_id %}" class="cart-link">🗑</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="inline-cart-buttons">
        <a href="/cesta" class="cart-checkout">Ver cesta</a>
        <a href="{% url 'pagar' %}" class="cart-checkout">Realizar Pedido</a>
    </div>
</div>
{% else %}
    <p class="cart-empty">Tu carrito está vacío. ¡Agrega productos para comenzar!</p>
{% endif %}
</div>
{% endblock cesta %}
