{% extends 'base.html' %}

{% block title %}Mis Pedidos{% endblock %}

{% block content %}
    <h1>Pedidos</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Estado de Envío</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td><a href="{% url 'mostrar_pedido' pedido.id %}">{{ pedido.id }}</a></td>
                    <td>{{ pedido.email }}</td>
                    <td>{{ pedido.estado }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if not pedidos %}
        <p>No hay pedidos.</p>
    {% endif %}
{% endblock %}
