{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1>Hubo un problema con tu pago</h1>
        <p class="alert alert-danger">Lo sentimos, ha ocurrido un error al procesar tu pago. Por favor, intenta nuevamente.</p>
        
        <p>Si el problema persiste, puedes ponerte en contacto con nuestro soporte técnico.</p>

        <a href="{% url 'ver_cesta' %}" class="btn btn-warning">Volver a la cesta</a>
        <a href="{% url 'home' %}" class="btn btn-primary">Volver al inicio</a>
    </div>
{% endblock %}