{% extends 'base.html' %}
{% block content %}
<div id="cesta">
{% if cesta.items %}
<p class="cart-minimum">Para disfrutar del envío gratuito, supera los {{importe_minimo_envio_gratuito}}€ en tu compra.</p>
<div class="cart-container">
    <h1 class="cart-title">Cesta de la Compra</h1>
    <table class="cart-table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for producto_id, item in cesta.items %}
            <tr>
                {% load custom_filters %}
                <td><img src="{{ item.foto }}" alt="{{ item.nombre }}" class="cart-image"></td>
                <td>{{ item.nombre }}</td>
                <td>
                    <form action="{% url 'disminuir_cantidad_producto_en_cesta' producto_id=producto_id %}" method="post" class="cart-form">
                        {% csrf_token %}
                        <button type="submit" class="cart-button">-</button>
                    </form>
                    {{ item.cantidad }} unidades
                    <form action="{% url 'aumentar_cantidad_producto_en_cesta' producto_id=producto_id %}" method="post" class="cart-form">
                        {% csrf_token %}
                        <button type="submit" class="cart-button">+</button>
                    </form>
                </td>
                <td>{{ item.precio }} €</td>
                <td>{{ item.cantidad|multiply:item.precio }} €</td>
                <td>
                    <a href="{% url 'eliminar_de_cesta' producto_id %}" class="cart-link">🗑</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3 class="cart-total">Total: {{ total }} €</h3>
    {% if total < importe_minimo_envio_gratuito %}
        <p class="cart-costs">Gastos de envío: {{gastos_de_envio}} €</p>
    {% else %}
    <p class="cart-costs">Gastos de envío: 0.00€</p>
    {% endif %}
    <a href="{% url 'pagar' %}" class="cart-checkout">Realizar Pedido</a>
</div>
{% else %}
    <p class="cart-empty">Tu carrito está vacío. ¡Agrega productos para comenzar!</p>
{% endif %}
</div>
{% endblock content %}
