{% extends 'base.html' %}
{% block content %}
<h1>Cesta de la Compra</h1>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for producto_id, item in cesta.items %}
        <tr>
            {% load custom_filters %}

            <td>{{ item.nombre }}</td>
            <td>{{ item.cantidad }}</td>
            <td>{{ item.precio }}</td>
            <td>{{ item.cantidad|multiply:item.precio }}</td>
            <td>
                <form action="{% url 'aumentar_cantidad_producto_en_cesta' producto_id=producto_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Aumentar</button>
                </form>
            </td>
            <td>
                <form action="{% url 'disminuir_cantidad_producto_en_cesta' producto_id=producto_id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Disminuir</button>
                </form>
            </td>
            <td><a href="{% url 'eliminar_de_cesta' producto_id %}">Eliminar</a></td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Total: {{ total }}</h3>

<a href="{% url 'pagar' %}">Realizar Pedido</a>
{% endblock content %}